/* FILEPATH: /c:/Users/sonne/Desktop/PWA/styles.css */

/* Colors */
:root {
    /* Background colors */
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f5f5;
    
    /* Text color */
    --text-color: #333333;
    
    /* Accent color */
    --accent-color: #ff0000;
    
    /* Emphasis colors */
    --emphasis-color-1: #0013ff;
    --emphasis-color-2: #00ccff;
    --emphasis-color-3: #cc00ff;
    
    /* Button colors */
    --button-bg-color: var(
    --accent-color);
    --button-text-color: #ffffff;
    --button-hover-color: #ff3333;
}

/* Default styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling for <p> element */
p {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Styling for <h1> element */
h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

/* Styling for <h2> element */
h2 {
    margin: 1em 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}

/* Styling for <h3> element */
h3 {
    margin: 1em 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

/* Styling for buttons */
button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}


/* Body Styling */
body {
    display: grid;
    grid-template-rows: 1fr calc(95vh - 60px) 30px;
    height: 100vh; /* Full viewport height */
    background-color: var(--primary-bg-color);
}

/* Header and Footer Styling */
header {
    /* background-color: var(--secondary-bg-color); */
    text-align: center;
    margin: auto;
}

footer {
    background-color: var(--secondary-bg-color);
    text-align: center;
    padding: 3px;
}

/* Main Section Styling */
main {
    padding: 0 0.5rem;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    justify-items: stretch;
}

.display{
    background-color: yellowgreen;
    text-align: right;
    padding: 5px 10px;
}
.buttons{
    /* background-color: pink; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

#equals{
    background-color: var(--emphasis-color-1);
    grid-column-end: span 3;
}

#input_display_history {
    overflow: hidden; /* Hide overflow content */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
}

#input_display{
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
    min-height: calc(1.4rem * 2);
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

#result_display{
    font-size: 1.3rem;

    padding-bottom: 5px;
    min-height: calc(1.4rem * 2);
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;

    font-weight: bold;
}

.operator{
    padding: 0 5px;
}

.input_value_elemet{
    padding-right: 5px;
    font-weight: normal;
}